.adminLogin {
  width: 25%;
  margin: auto;
  margin-top: 100px; }
  .adminLogin input {
    margin-bottom: 10px; }

.bx-wrapper .bx-pager {
  bottom: -95px; }

.bx-wrapper .bx-pager a {
  border: solid #ccc 1px;
  display: block;
  margin: 0 5px;
  padding: 3px; }

.bx-wrapper .bx-pager a:hover,
.bx-wrapper .bx-pager a.active {
  border: solid #5280DD 1px; }

.bx-wrapper {
  margin-bottom: 120px; }

img.sliderPics {
  width: 500px; }

img.thumbnailPic {
  width: 50px; }
