img.productBoatImg {
  height: 80px;
  width: 80px; }

.rowContact {
  background-color: white; }
  .rowContact .emailForm form {
    padding: 0px;
    background-color: none;
    padding-top: 20px; }
    .rowContact .emailForm form .form-all {
      box-shadow: 10px 10px 5px #888888;
      border-radius: 5px;
      border: 2px solid #FE5301;
      padding: none;
      width: inherit; }
      .rowContact .emailForm form .form-all ul.form-section {
        padding: none;
        font-family: sans-serif; }

.rowBlog article {
  background-color: rgba(253, 112, 68, 0.6);
  width: 50%;
  border-radius: 5px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 10px 10px 5px #888888; }
  .rowBlog article .title {
    text-align: center;
    font-family: 'Bungee Outline', cursive;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px; }
  .rowBlog article span {
    font-weight: bold; }
  .rowBlog article p {
    text-align: left;
    padding: 5px;
    padding-top: 5px;
    font-weight: none; }

.adminLogin {
  width: 25%;
  margin: auto;
  margin-top: 100px; }
  .adminLogin input {
    margin-bottom: 10px; }

h3 {
  text-align: center;
  padding-top: 50px; }

.adminBlog {
  width: 50%;
  margin: auto;
  margin-top: 50px; }
  .adminBlog input, .adminBlog textarea {
    margin-bottom: 10px; }

.rowBlog article h3 {
  text-align: left;
  color: red; }

.header {
  background-color: #DCDCDC;
  border-bottom: 3px solid #FE5301; }

ul {
  display: inline-block;
  margin-bottom: 0; }

li.navList {
  display: inline-block;
  text-align: center;
  margin-top: 105px; }
  li.navList a {
    font-family: "Bungee Shade", cursive;
    font-size: 25px;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: darkgray;
    padding: 20px;
    border-radius: 5px; }
    li.navList a:hover {
      background-color: #DCDCDC;
      color: darkgray; }

h1 {
  font-family: "Bungee Shade", cursive;
  color: darkgray;
  display: inline-block;
  font-size: 50px;
  text-align: center; }

img.logo {
  padding-top: 19px;
  margin-left: 25px;
  width: 96px;
  transform: rotate(18deg);
  display: inline-block; }

img.logoState {
  display: block;
  margin-top: -55px;
  width: 88px;
  padding-bottom: 19px; }

img.boatImgs {
  margin: 0 auto;
  display: block;
  width: 375px;
  height: 340px;
  margin-top: 4px; }

.sliderMain {
  width: 500px;
  display: block;
  margin: 0 auto; }

#circleslider3 {
  height: 350px;
  padding: 25px;
  position: relative;
  width: 350px;
  margin: 0 auto;
  display: block;
  margin-top: 60px; }
  #circleslider3 .viewport {
    height: 350px;
    position: relative;
    overflow: hidden;
    width: 350px;
    margin: 0 auto; }
  #circleslider3 .overview {
    background-color: #efefef;
    position: absolute;
    width: 798px;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0; }
    #circleslider3 .overview li {
      height: 350px;
      width: 350px;
      margin: 0 20px 0 0;
      float: left;
      position: relative; }
  #circleslider3 .overlay {
    background: url(http://baijs.com/tinycircleslider/images/bg-rotatescroll2.png) no-repeat 0 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    width: 400px; }
  #circleslider3 .thumb {
    background: url(http://www.select-salmon.gr/userfiles/image/compass.png) no-repeat 50% 50%;
    position: absolute;
    background-size: 120px;
    cursor: pointer;
    width: 100px;
    z-index: 200;
    height: 100px;
    margin-left: -31px !important;
    margin-top: -10px !important; }
  #circleslider3 .dot {
    cursor: pointer;
    background: url(http://baijs.com/tinycircleslider/images/bg-dot3.png) no-repeat 0 0;
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 10px;
    color: #555;
    width: 22px;
    position: absolute;
    z-index: 100;
    margin-left: -14px !important;
    margin-top: -6px !important; }
    #circleslider3 .dot span {
      display: none;
      cursor: pointer; }
