.adminLogin {
  width: 25%;
  margin: auto;
  margin-top: 100px; }
  .adminLogin input {
    margin-bottom: 10px; }

h3 {
  text-align: center;
  padding-top: 50px; }

.adminBlog {
  width: 50%;
  margin: auto;
  margin-top: 50px; }
  .adminBlog input, .adminBlog textarea {
    margin-bottom: 10px; }

.navCol {
  background-color: #FE5301; }

ul {
  display: inline-block; }

li.navList {
  display: inline-block;
  text-align: center; }
  li.navList a {
    text-decoration: none; }

img.boatImgs {
  margin: 0 auto;
  display: block;
  width: 375px;
  height: 340px;
  margin-top: 4px; }

#circleslider3 {
  height: 350px;
  padding: 25px;
  position: relative;
  width: 350px; }
  #circleslider3 .viewport {
    height: 350px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 350px; }
  #circleslider3 .overview {
    background-color: #efefef;
    position: absolute;
    width: 798px;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0; }
    #circleslider3 .overview li {
      height: 350px;
      width: 350px;
      margin: 0 20px 0 0;
      float: left;
      position: relative; }
  #circleslider3 .overlay {
    background: url(http://baijs.com/tinycircleslider/images/bg-rotatescroll2.png) no-repeat 0 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    width: 400px; }
  #circleslider3 .thumb {
    background: url(http://baijs.com/tinycircleslider/images/bg-thumb.png) no-repeat 50% 50%;
    position: absolute;
    top: -3px;
    cursor: pointer;
    left: 137px;
    width: 100px;
    z-index: 200;
    height: 100px; }
  #circleslider3 .dot {
    cursor: pointer;
    background: url(http://baijs.com/tinycircleslider/images/bg-dot3.png) no-repeat 0 0;
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 10px;
    color: #555;
    width: 22px;
    position: absolute;
    left: 155px;
    top: 3px;
    z-index: 100;
    margin-left: 25px;
    margin-top: 25px; }
    #circleslider3 .dot span {
      cursor: pointer; }
