$bro: "#FE5301";

.rowBlog {
	padding-top: 20px;
	article {
		background-color:$light-blue;
		width: 50%;
		border-radius: 5px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;	
		box-shadow: 10px 10px 5px #888888;

		.title {
			text-align: center;
			font-family: 'Bungee Shade', cursive;
			color: white;
			font-size: 30px;
			font-weight: bold;
			padding-top: 10px;
			padding-bottom: 20px;
			
		}
		span{ 
			font-weight: bold;
			font-family: $article-font;
			font-size: 18px;
		}
		p {
			text-align: left;
			padding: 5px;
			padding-top: 5px;
			font-weight: none;
			font-family: $article-font;
			font-size:16px;

		}
	}
}

