$bro: "#FE5301";

.rowBlog {
	article {
		background-color: rgba(253,112,68, .6);
		width: 50%;
		border-radius: 5px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 50px;
		text-align: center;	
		box-shadow: 10px 10px 5px #888888;
	

		.title {
			text-align: center;
			font-family: 'Bungee Outline', cursive;
			color: white;
			font-size: 30px;
			font-weight: bold;
			padding-top: 10px;
			padding-bottom: 5px;
			
		}
		span{ 
			font-weight: bold;
		}
		p {
			text-align: left;
			padding: 5px;
			padding-top: 5px;
			font-weight: none;

		}
	}
}