$bro:#FE5301;

.rowContact {
	background-color: white;
	.contactBox {
		// background-color: red;
		// height: 500px;
	}
	.emailForm {
		form {
			padding: 0px;
			background-color: none;
			padding-top: 20px;
;
			.form-all {
				box-shadow: 10px 10px 5px #888888;
				border-radius: 5px;
				border: 2px solid $bro;
				padding: none;
				width: 370px;
				
				ul.form-section {
					padding: none;
					font-family: sans-serif;

					.form-line {
						#id_4 { // name list

						}
						#id_3 { // email list

						}
						#id_5 { // message list

						}
						#id_2 { // button list
						}
					}	
				}
			}
		}
	}
}



	