$article-font:'Josefin Sans', sans-serif;

.navToggle{
  z-index: 111;
  position: absolute;
  width: 100px;
  height: 80px;
  right: 10px;
  cursor: pointer;
  
  .icon{
    transition: all 0.4s ease-out;
  	position: absolute;
  	top: 40px;
    right: 10px;
  	width: 50px;
  	height: 2px;
  	background-color: #ffffff;
    &:before, &:after{
      transition: all 0.25s ease-out;
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #ffffff;
      content:'';
    }
  &:before{
    top: -20px;
    left: 0;
  }
  &:after{
    top: 20px;
    left: 0;
  }
  
  }
  &:hover{
    .icon{
      background-color: darken($light-gray,30);
      &:before{
        top: -25px;
        background-color: darken($light-gray,30);
      }
      &:after{
        top: 25px;
        background-color:darken($light-gray,30);
      }
    }
  }
  &.open{
    .icon{
      transition: all 0.4s ease-out;
      background-color: transparent;
      transform: rotate(180deg);
      &:before{
        top:0;
        transform: rotate(45deg);
      }
      &:after{
        top:0;
        transform: rotate(-45deg);
      }
    }
  }
}

#menu{
  z-index: 1;
  right: 0;
  position: absolute;
  width: 200px;
  height: 0px;
  overflow: hidden;
  text-align: left;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
  & ul{
    list-style: none;
    padding: 0;
    font-family:$article-font;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;

  }
  & li:first-child{
    margin-top: 5px;
  }
  & li{
    margin: 14px 0;
    padding: 5px 0;
    cursor: pointer;
    letter-spacing: 0.5em;
    text-decoration: none;
    transition: all 0.25s;
  }
  & li:hover{
    text-decoration: none;
  }
  &.active{
    height:200px;
    //border-bottom: 2px solid $bro;
  }
}
