$light-blue: #69D2E7;

.storeRow {
	.storeInfo {
		p {
			width: 80%;
			margin: 0 auto;
			display: block;
			background-color: $light-blue;
			padding-left: 20px;
			padding-right: 1px;
			padding-top: 20px;
			padding-bottom: 20px;
			margin-top: 60px;
			font-size: 25px;
		}
	}
}


.boatRow {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	.col-md-6 {
		margin-top: 30px;
		.boatInfo {
			background-color: rgba(253,112,68, .6);
			width:400px;
			border-radius: 5px; 
			padding-left: 24px;
			padding-right: 24px;
			padding-top: 20px;
			text-align: center;	
			box-shadow: 10px 10px 5px #888888;
			margin:0 auto;
			display: block;

			img.productBoatImg {
				height:250px;
				width:250px;
				margin:0 auto;
				display:block;
				border: 1px solid white;
				margin-bottom: 10px;
			}

			.boatDescrip {
				padding-bottom:20px;
				padding-top: 10px;
			}
			.boatName, .boatPrice {
				font-weight: bold;
			}
		}
	}
}

.cosRow{
	padding-top: 20px;
	padding-bottom: 20px;
	.boatCos {
		img {
			width: 150px;
			margin: 0px auto;
			display: block;
		}
		.bayliner {
			.info {
 	   			background-color: $light-blue;
    			margin-top: -190px;
    			padding: 20px;
    			display: none;
    			border: 2px solid #FE5301;
			}
			img:hover + div {
				display: block;
			}
		}
		.stingray {
			.info {
 	   			background-color: $light-blue;
    			margin-top: -210px;
    			padding: 20px;
    			display: none;
    			border: 2px solid #FE5301;
			}
			img:hover + div {
				display: block;
			}
		}
		.searay {
			.info {
 	   			background-color: $light-blue;
    			margin-top: -185px;
    			padding: 20px;
    			display: none;
    			border: 2px solid #FE5301;
			}
			img:hover + div {
				display: block;
			}
		}
		.sabre {
			.info {
 	   			background-color: $light-blue;
    			margin-top: -200px;
    			padding: 20px;
    			display: none;
    			border: 2px solid #FE5301;
    			img {
    			}
			}
			img:hover + div {
				display: block;
			}
		}							
	}	
}		