
.boatRow {
	padding-top: 20px;
	padding-bottom: 20px;
	.col-xs-6 {
		margin-top: 30px;
		.boatInfo {
			background-color: rgba(253,112,68, .6);
			width:500px;
			border-radius: 5px; 
			padding-left: 24px;
			padding-right: 24px;
			padding-top: 20px;
			text-align: center;	
			box-shadow: 10px 10px 5px #888888;
			margin:0 auto;
			display: block;

			img.productBoatImg {
				height:350px;
				width:350px;
				margin:0 auto;
				display:block;
				border: 1px solid white;
			}

			.boatDescrip {
				padding-bottom:20px;
			}
		}
	}
}		