$nav-font:'Cormorant Unicase', serif;
$bro:#FE5301;
$light-orange:#FFC996;
$light-gray:#DCDCDC;
$green:#97FFD4;

@import 'products';

@import 'contact';

@import 'blog';

@import 'admin';

.navCol {
	background-color:darken($light-gray,20)
}

ul {
	display:inline-block;
	margin-top:50px;
}

li.navList {
	display:inline-block;
	text-align:center;

		a {
			font-family: $nav-font;
			font-size: 35px;
			padding:20px;
			color:#ffffff;
			text-decoration: none;

			&:hover {
				color:$light-orange;
			}
		}
}

h1 {
	font-family:$nav-font;
	color:#ffffff;
	display:inline-block;
	font-size:50px;
}

img.logo {
	padding-top:20px;
	padding-bottom:20px;
	padding-right:9px;
	width:133px;
}

img.boatImgs {
	margin: 0 auto;
	display:block;
	width:375px;
	height:340px;
	margin-top:4px;
}

#circleslider3 { 
	height:350px; 
	padding: 25px; 
	position:relative; 
	width:350px;
	margin:0 auto;
	display:block;
	margin-top:60px;

	.viewport{ 
		height:350px; 
		position: relative; 
		margin:0 auto; 
		overflow:hidden;
		width:350px; 
	}

		.overview { 
			background-color: #efefef; 
			position: absolute; 
			width: 798px; 
			list-style: none; 
			margin: 0; 
			padding: 0;  
			left: 0; 
			top: 0; 

				li { 
					height:350px; 
					width:350px; 
					margin: 0 20px 0 0; 
					float: left; 
					position: relative;
				}
			}

			.overlay {
				background:url(http://baijs.com/tinycircleslider/images/bg-rotatescroll2.png) no-repeat 0 0; 
				pointer-events: none; 
				position: absolute; 
				left: 0; 
				top: 0; 
				height:400px; 
				width:400px;
			}

				.thumb { 
					background:url(http://www.select-salmon.gr/userfiles/image/compass.png) no-repeat 50% 50%; 
					position: absolute; 
					background-size: 120px;
					top: -3px; 
					cursor: pointer; 
					left: 137px; 
					width: 100px; 
					z-index: 200; 
					height: 100px;
					margin-left: -243px;
					margin-top:-5px;
				}

					.dot { 
						cursor: pointer; 
						background:url(http://baijs.com/tinycircleslider/images/bg-dot3.png) no-repeat 0 0; 
						height: 22px; 
						text-align: center; 
						line-height: 22px; 
						font-size: 10px; 
						color: #555; 
						width: 22px; 
						position: absolute; 
						left: -241px; 
						top: -6px; 
						z-index: 100;
						margin-left: -160px;
						margin-top: -6px;

						span { 
							display:none;
							cursor: pointer;
						}
					}	
}