$nav-font:'Bungee Shade', cursive;
$bro:#FE5301;
$light-orange:#FFC996;
$light-gray:#DCDCDC;
$green:#97FFD4;

@import 'products';

@import 'contact';

@import 'blog';

@import 'admin';

.header {
	background-color: $light-gray;
	border-bottom: 3px solid #FE5301;
	.navMiddle{
		.logo{
			width: 150px;
			padding-top: 10px;
			margin: 0 auto;
			margin-left: -10px;
			display: block;
		}
		.background {
			z-index: 999;
			position: absolute;
			margin-top: -90px;
			margin-left: 15px;
			font-family: 'Bungee', cursive;
			color: darken($light-gray, 40);

		}
		.foreground {
			z-index: 1000;
			position: absolute;
			margin-top: -95px;
			margin-left: 25px;
			font-family: 'Bungee', cursive;
			color: white;
			opacity: .98;	
		}
	}
}

ul {
	display:inline-block;
	margin-bottom:0;

}

li.navList {
	display:inline-block;
	text-align:center;
	margin-top:105px;

		a {
			font-family: $nav-font;
			font-size: 25px;
			margin-right: 10px;
			color:#ffffff;
			text-decoration: none;
			text-align: center;
			background-color:darken($light-gray,20);
			padding:20px;
			border-radius:5px;

			&:hover {
				background-color:$light-gray;
				color:darken($light-gray,20);
			}
		}
}

h1 {
	font-family:$nav-font;
	color:darken($light-gray,20);
	display:inline-block;
	font-size:50px;
	text-align:center;
}

// img.logo {
// 	padding-top:19px;
// 	margin-left:25px;
// 	width:96px;
// 	// transform:rotate(18deg);
// 	display:inline-block;
// }

img.logoState {
	display:block;
	//margin-left:69px;
	margin-top:-55px;
	width:88px;
	padding-bottom:19px;
}

img.boatImgs {
	margin: 0 auto;
	display:block;
	width:375px;
	height:340px;
	margin-top:4px;
}

.sliderMain {
	width:500px;
	display:block;
	margin:0 auto;
}

#circleslider3 { 
	height:350px; 
	padding: 25px; 
	position:relative; 
	width:350px;
	margin:0 auto;
	display:block;
	margin-top:60px;

	.viewport{ 
		height:350px; 
		position: relative; 
		overflow:hidden;
		width:350px; 
		margin:0 auto;
	}

		.overview { 
			background-color: #efefef; 
			position: absolute; 
			width: 798px; 
			list-style: none; 
			margin: 0; 
			padding: 0;  
			left: 0; 
			top: 0; 

				li { 
					height:350px; 
					width:350px; 
					margin: 0 20px 0 0; 
					float: left; 
					position: relative;
				}
			}

			.overlay {
				background:url(http://baijs.com/tinycircleslider/images/bg-rotatescroll2.png) no-repeat 0 0; 
				pointer-events: none; 
				position: absolute; 
				left: 0; 
				top: 0; 
				height:400px; 
				width:400px;
			}

				.thumb { 
					background:url(http://www.select-salmon.gr/userfiles/image/compass.png) no-repeat 50% 50%; 
					position: absolute; 
					background-size: 120px;
					cursor: pointer; 
					width: 100px; 
					z-index: 200; 
					height: 100px;
					margin-left:-31px !important;
					margin-top:-10px !important;
					
				}

					.dot { 
						cursor: pointer; 
						background:url(http://baijs.com/tinycircleslider/images/bg-dot3.png) no-repeat 0 0; 
						height: 22px; 
						text-align: center; 
						line-height: 22px; 
						font-size: 10px; 
						color: #555; 
						width: 22px; 
						position: absolute; 
						
						z-index: 100;
						margin-left: -14px !important;
						margin-top: -6px !important;

						span { 
							display:none;
							cursor: pointer;
						}
					}	
}